{% extends "base.html"%}

{% block title %}
Accueil
{% endblock  %}

{% block content_title %}
BIENVENU SUR LA PLATFORME DE FINANCEMENT PARTICIPATIF DE PROJET ENVIRONNEMENTAUX
{% endblock  %}

{% block content %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">

		<p ><strong>Les points ci-dessous résuments les objectifs, les principes et les conditions d'intégration et d'adhésion à cette platforme</strong></p>

	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3>1 - Objectifs</h3>
			</div>
			<div class="panel-body">
				Martinus agens illas provincias pro praefectis aerumnas innocentium graviter gemens saepeque obsecrans, <strong> ut ab omni culpa inmunibus parceretur,</strong> cum non inpetraret, minabatur se discessurum: ut saltem id metuens perquisitor malivolus tandem desineret quieti coalitos homines in aperta pericula proiectare.
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3>2 - Principes de fonctionnement</h3>
			</div>
			<div class="panel-body">
				<p>Per hoc minui studium suum existimans Paulus, ut erat in conplicandis negotiis artifex dirus, unde ei Catenae inditum est cognomentum, vicarium ipsum eos quibus praeerat adhuc defensantem ad sortem periculorum communium traxit. et instabat ut eum quoque cum tribunis et aliis pluribus ad comitatum imperatoris vinctum perduceret: quo percitus ille exitio urgente abrupto ferro eundem adoritur Paulum. et quia languente dextera, letaliter ferire non potuit, iam districtum mucronem in proprium latus inpegit. hocque deformi genere mortis excessit e vita iustissimus rector ausus miserabiles casus levare multorum.</p>

				<p>Haec subinde Constantius audiens et quaedam referente Thalassio doctus, quem eum odisse iam conpererat lege communi, scribens ad Caesarem blandius adiumenta paulatim illi subtraxit, sollicitari se simulans ne, uti est militare otium fere tumultuosum, in eius perniciem conspiraret, solisque scholis iussit esse contentum palatinis et protectorum cum Scutariis et Gentilibus, et mandabat Domitiano, ex comite largitionum, praefecto ut cum in Syriam venerit, Gallum, quem crebro acciverat, ad Italiam properare blande hortaretur et verecunde.</p>

				<p>Denique Antiochensis ordinis vertices sub uno elogio iussit occidi ideo efferatus, quod ei celebrari vilitatem intempestivam urgenti, cum inpenderet inopia, gravius rationabili responderunt; et perissent ad unum ni comes orientis tunc Honoratus fixa constantia restitisset.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3>3 - Adhésion</h3>
			</div>
			<div class="panel-body">
				Martinus agens illas provincias pro praefectis aerumnas innocentium graviter gemens saepeque obsecrans, <strong> ut ab omni culpa inmunibus parceretur,</strong> cum non inpetraret, minabatur se discessurum: ut saltem id metuens perquisitor malivolus tandem desineret quieti coalitos homines in aperta pericula proiectare.
			</div>
		</div>
	</div>
</div>
{% endblock  %}