{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %} Make Our Planet Great Again {% endblock %}</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	{# Load the tag library #}
	{% load bootstrap3 %}

	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript %}

	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
	<meta http-equiv="Contenu-Type" content="text/html" charset="utf-8"/>
	<link rel="home" type="application/rss+xml" href="{% url 'home' %}" />
	{% load static  %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/general_style.css' %}"/>
	{% block extrastyle %}{% endblock %}
	{% block extrahead %}{% endblock %}
</head>
{% load i18n %}
<body>
	<div >
		<div class="row">
			<div class="col-md-offset-1 col-md-10 content">

				<div class="page-header">
					{% block header %}
					<h1><a href="/">Make Our Planet Great Again </a></h1>
					{% endblock  %}
				</div>

				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>                        
							</button>
							<a class="navbar-brand" ><span class="glyphicon glyphicon-leaf"></span><span class="glyphicon glyphicon-fire"></span><span class="glyphicon glyphicon-leaf"></span></a>
						</div>
						<div class="collapse navbar-collapse " id="myNavbar">
							<ul class="nav navbar-nav navbar-center">
								{% if user.is_authenticated %}
								<li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
								<li><a href="{% url 'index_projet' %}">Dernier projet financé</a></li>
								<li><a href="{% url 'all_project' %}">Tous les projets</a></li>
								<li><a href="{% url 'new_project' %}">Nouveau projet</a></li>
								<li><a href="{% url 'privacy_policy' %}">Crédits & Mentions légales</a></li>
								<li><a href="{% url 'about' %}">A propos</a></li>
								{% else %}
								<li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
								<li><a href="{% url 'about' %}">A propos</a></li>
								{% endif %}
							</ul>


							<ul class="nav navbar-nav navbar-right">
								{% if user.is_authenticated %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ user.username }} [ {{user.utilisateur}} ]<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="">Mon compte</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="{% url 'auth_logout' %}?next=/">Deconnexion</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical"></span> Mon activité <span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">Mes projets</a></li>
										<li><a href="#">Derniers avis</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="#">Historiques</a></li>
									</ul>
								</li>
								{% else %}
								<li><a href="{% url 'auth_login' %}?next={% url 'home' %}"><span class="glyphicon glyphicon-user"></span> Se connecter </a></li>
								<li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-registration-mark"></span> S'inscrire </a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>

				<div class="container-fluid">
					<div class="row">
						<div class="alert col-md-6 col-md-offset-2">
							<h2>
								{% block content_title %}
								Content title 
								{% endblock  %}
							</h2>
						</div>
					</div>
					<div class="row">
						{% block content %}

						{% endblock  %}
					</div>
				</div>

			</div>

		</div>
	</div>

	<footer class="footer" >
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<p>Copyright -- m2_info-acdi.univ-angers.fr</p>
			</div>
		</div>
	</footer>

</body>
</html>