{% extends "base.html"%}

{% block title %}
	Authentification
{% endblock  %}

{% block content_title %}
	Informations d'identification
{% endblock  %}


{% block content %}
<div class="col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2" >
	<div class="jumbotron form-group">
		<!-- {% if error_message %}<p><strong>{{ error_message }}</p></strong>{% endif %} -->
		<form id="auteur_auth_form" method="post">
			{% csrf_token %}
			<div class="fieldWrapper">
				{% for field in form %}
				<p>{{ field.errors }}</p>
				<p>{{ field.label_tag }}</p> 
				<p>{{ field }}</p>
				{% endfor %}
				<br>
			</div>
			<button type="submit" class="btn btn-lg btn-primary"> &nbsp;&nbsp;Connexion&nbsp;&nbsp;</button>
		</form>
	</div>
		<div class="alert alert-info" id="new_account_link">
			<h4>
				<a class="" href="#"><i>Créer un compte</i></a>
			</h4>
		</div>
</div>
{% endblock  %}