{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content_title %}

{% endblock  %}

{% block content %}
<div class="col-md-3 col-md-offset-4 " >
    <div class="panel panel-info">
        <div class="panel-heading "> <strong>Authentification</strong></div>
        <div class="panel-body ">
            <form class="form-horizontal" method="post">{% csrf_token %}
                    {% for field in form %}
                    {% if field.errors %}
                    <div class="control-group error authentication">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            <span class="help-inline">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    </div>
                    {% else %}
                    <div class="control-group authentication">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                <div class="form-actions text-center">
                    <input class="btn btn-lg btn-primary" type="submit" value="{% trans 'Log in' %}" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>

        </div>
        <div class="panel-footer">
            <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
            <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
        </div>
    </div>
</div>
{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
A Form object representing the login form. See the forms
documentation for more on Form objects.

``next``
The URL to redirect to after successful login. This may contain a
query string, too.

``site``
The current Site, according to the SITE_ID setting. If you don't
have the site framework installed, this will be set to an instance
of RequestSite, which derives the site name and domain from the
current HttpRequest.

``site_name``
An alias for site.name. If you don't have the site framework
installed, this will be set to the value of
request.META['SERVER_NAME']. For more on sites, see The
"sites" framework.
{% endcomment %}
