{% extends "base.html"%}

{% load mathfilters %}

{% block title %}
Tous les projets
{% endblock  %}

{% block content_title %}
Tous les projets
{% endblock  %}

{% block content %}
<div class="col-md-10 col-md-offset-1 ">
	<div >    
		{% if projects %}
		<div class="row">
			{% for project in projects %}
			<div class="col-sm-4 " >
				<div class="panel panel-info">
					<div class="panel-heading text-center">
						<h4><a href="{% url 'project_info' project.id %}" title="Cliquez pour consulter les détails" >{{ project.titre_projet }}</a></h4>
					</div>
					<div class="panel-body">
						<p><strong>Date de publication :</strong> {{project.date_ajout_projet}} </p>
						<p><strong>Financement réquis :</strong> {{project.finance_requis_projet}} </p>
					</div>
					<div class="panel-footer text-right">
						<i> <strong>Auteur:</strong> {{project.auteur_projet.username}} </i>
					</div>
				</div>
			</div>
			{% ifequal forloop.counter0|mod:3 2 %}
			<div class="col-md-10"><hr> </div>
			{% endifequal %}
			{% endfor %}
		</div>
		{% endif %}
	</div><br>
	<div class="col-md-9 col-md-offset-2">
		<a href="{% url 'new_project' %}" class="btn btn-block btn-lg btn-primary">Ajouter un nouveau projet</a>
	</div>	
</div>

{% endblock  %}
